Storage {                             # definition of myself
  Name = bacula-sd
  SDPort = 9103                  # Director's port
  WorkingDirectory = "/var/spool/bacula"
  Pid Directory = "/var/run"
  Maximum Concurrent Jobs = 20
  SDAddress = 0.0.0.0
}

Director {
  Name = bacula-dir
  Password = "{{bacula_password}}"
}

Director {
  Name = bacula-mon
  Password = "{{bacula_password}}"
  Monitor = yes
}

Device {
  Name = NFSDevice
  Media Type = File
  Archive Device = "{{bacula_divecedir}}"
  LabelMedia = yes;                   # lets Bacula label unlabeled media
  Random Access = Yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
}

Messages {
  Name = Standard
  director = bacula-dir = all
}