Client {
  Name = {{ client_name }}
  Address = {{ client_address }}
  FDPort = {{ fd_port }}
  Catalog = {{ catalog_name }}
  Password = "{{ client_password }}"
  File Retention = 30 days
  Job Retention = 6 months
  AutoPrune = yes
}

FileSet {
  Name = {{ fileset_name }}
  Include {
    Options {
      signature = MD5
      compression = GZIP
      verify = yes
      smart = yes
    }
    File = /
  }
  Exclude {
    File = /tmp
    File = /var/tmp
    File = /proc
    File = /sys
    File = /mnt
    File = /media
    File = /lost+found
  }
}

Job {
  Name = {{ job_name }}
  Client = {{ client_name }}
  JobDefs = "DefaultJob"
  Level = Incremental
  FileSet = {{ fileset_name }}
  Schedule = "WeeklyCycle"
  Storage = {{ storage_name }}
  Priority = 10
  Write Bootstrap = "/var/lib/bacula/{{ client_name }}.bsr"
}

