---
- set_fact: director=False
  when: director is not defined

- set_fact: client=False
  when: client is not defined

- name: Install Bacula packages for Director
  yum:
    name:
      - bacula-director
      - bacula-storage
      - bacula-client
    state: present
  when: director

- name: Install Bacula packages for Client
  yum:
    name:
      - bacula-client
    state: present
  when: client

- name: Install PostgreSQL packages
  yum:
    name:
      - postgresql-server
    state: present
  when: director

#Необходимо реализовать пороверку инициализирован ли Postgres
#- name: Initialize PostgreSQL
#  shell: "postgresql-setup initdb"
#  when: director

- name: Create Bacula user
  user:
    name: bacula
    comment: "Bacula backup user"
    shell: /bin/false
    system: true

- name: Allow TCP ports
  iptables:
    chain: IN_public_allow
    protocol: tcp
    destination_port: "{{ item }}"
    jump: ACCEPT
    state: present
  with_items:
    - 9101
    - 9102
    - 9103
  when: director

#На всех хостах нужно создать
- name: Create Bacula directories
  file:
    path: "{{ item }}"
    state: directory
    owner: bacula
    group: bacula
    mode: '0750'
  with_items:
    - /etc/bacula
    - /var/lib/bacula
    - /var/log/bacula
    - /var/run/bacula

#Только на хосте с диретором была проблема с этим файлом
- name: Create bacula-dir.conms file
  file:
    path: /var/spool/bacula/bacula-dir.conms
    state: touch
    mode: '0644'
    owner: bacula
  when: director

#- name: Configure Postgres services
#  systemd:
#    name: postgresql
#    enabled: true
#    state: started
#  when: director
#
#- name: Create PG user
#  become: true
#  become_user: postgres
#  postgresql_user:
#    name: bacula
#    password: "{{ bacula_pg_password }}"
#  when: director

- name: Создание пользователя
  postgresql_user:
    db: postgres
    login_host: localhost
    login_user: postgres
    name: bacula
    password: "{{ bacula_pg_password }}"
    state: present

- name: Назначение привилегий пользователю
  postgresql_user_privileges:
    db: postgres
    login_host: localhost
    login_user: postgres
    name: bacula
    privs: SUPERUSER,CREATEDB,CREATEROLE

#- name: Create PostgreSQL user
#  become: true
#  become_user: postgres
#  postgresql_privs:
#    db: mydatabase
#    role: bacula
#    objs: ALL_IN_SCHEMA
#    privs: ['SUPERUSER', 'CREATEDB', 'CREATEROLE']
#  when: director

- name: Create PostgreSQL database
  command: sudo -u bacula ./create_postgresql_database
  when: director

- name: Make PostgreSQL tables
  command: sudo -u bacula ./make_postgresql_tables
  when: director

- name: Grant PostgreSQL privileges
  command: sudo -u bacula ./grant_postgresql_privileges
  when: director

- name: Copy Bacula configuration files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{item.owner}}"
    group: "{{item.group}}"
    mode: "{{ item.mode }}"
  with_items: "{{ bacula_configs }}"
  when: director

- name: Copy Postgres configuration files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{item.owner}}"
    group: "{{item.group}}"
    mode: "{{ item.mode }}"
  with_items: "{{ bacula_postgers_configs }}"
  when: director

- name: restart postgres
  service:
    name: postgresql
    state: restarted
  when: director

- name: Configure Bacula Clients
  template:
    src: bacula-fd-client.conf.j2
    dest: /etc/bacula/bacula-fd.conf
    owner: bacula
    group: bacula
    mode: '0640'
  when: client

- name: Configure Bacula services for Director
  systemd:
    name: "{{ item }}"
    enabled: true
    state: started
  with_items:
    - bacula-dir
    - bacula-sd
    - bacula-fd
  when: director

- name: Configure Bacula services for Clients
  systemd:
    name: bacula-fd
    enabled: true
    state: started
  when: client